In [23]:
import cv2
import numpy as np
from matplotlib import pyplot as plt
import time
from tesserocr import PyTessBaseAPI
import os
from PIL import Image
import json
import string
import pandas as pd

In [14]:
with PyTessBaseAPI(path=r'C:\Users\brans\OneDrive\Documents\Application-files-utilities\VScode\Project-007\Tessdata', lang='eng_best') as api:
    api.SetImageFile(r"C:\Users\brans\OneDrive\Documents\Application-files-utilities\VScode\Project-007\Data-storage\spreadsheet-2.jpg")
    print(api.GetUTF8Text())
    text = api.GetUTF8Text()

Hello, hi, hello Hello Hello Hello Hello Hello Hello Hello Hello
What What What What What What What What What

In [15]:
# turn words into list by using the space in between them
text = text.replace("\n", " xxx ")
text = text.split()
print(text)

['Hello,', 'hi,', 'hello', 'Hello', 'Hello', 'Hello', 'Hello', 'Hello', 'Hello', 'Hello', 'Hello', 'xxx', 'What', 'What', 'What', 'What', 'What', 'What', 'What', 'What', 'What', 'xxx']

In [19]:
# turn list into two dimensional array

array = []
temp_array = []
count = 0

while count < len(text):
    if text[count] == 'xxx':
        array.append(temp_array)
        temp_array = []
    else: 
        temp_array.append(text[count])
    
    count = count + 1

In [20]:
print(array)

[['Hello,', 'hi,', 'hello', 'Hello', 'Hello', 'Hello', 'Hello', 'Hello', 'Hello', 'Hello', 'Hello'], ['What', 'What', 'What', 'What', 'What', 'What', 'What', 'What', 'What']]

In [24]:
df = pd.DataFrame(array)
df

       0     1      2      3      4      5      6      7      8      9      10
0  Hello,   hi,  hello  Hello  Hello  Hello  Hello  Hello  Hello  Hello  Hello
1    What  What   What   What   What   What   What   What   What   None   None